*{
    margin: 0;
    box-sizing: border-box;
}
/*estilos cabecera*/
header{
    background-color:#ffff;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
}

h1{
    height: 23.74px;
    padding-left: 5.32%;
    padding-top: 18px;
}

.categoriasCabecera{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 13px;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    
}

.categoriastop{
    padding: 20px;
    cursor: pointer;
    color: #242E52;
    text-decoration: none;
}

.categoriastop:hover{
    background-color: #ffff;
    color: #242E5299;
    opacity: 60%;
}

.boton-1{
    padding-top: 15px;
    padding-right: 5.32%;
}

.boton1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 13px;
    color: #ffff;
    background-color: #8B48BF;
    border: #8B48BF;
    border-radius: 50px;
    height: 37px;
    width: 125px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25); 
}

.boton1:hover{
    background-color: #ffff;
    color: #8B48BF;
}
/*fin estilos cabecera*/
.cajaPadre-1, .cajaPadre{
    display: flex;
}

h2{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 58px;
    font-style: normal;
    color: #232C50;
    line-height: 66px;
    align-items: center;
    padding: 80px 80px 40px 80px;
    
}

.descripcion{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 151%;
    padding: 0px 366px 30px 80px;
}

.boton-2{
    padding: 10px 0px 80px 80px;
}

.boton2{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 13px;
    color: #ffff;
    background-color: #8B48BF;
    border: #8B48BF;
    border-radius: 50px;
    height: 37px;
    width: 125px;
    padding: 10px;
    cursor: pointer;
}

.boton2:hover{
    background-color: #ffff;
    color: #8B48BF;
}

.imgEstadisticas{
    padding-top: 80px;
    padding-right: 80px;
    width: 580px;
    height: 525px;
}

.tituloC-3{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 36px;
    color: #232851;
    padding: 68px 104px 20px 80px;
}

.descripcion-2{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 151%;
    padding: 0px 350px 30px 80px;
}

.subtituloC-3{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: #323851;
    line-height: 23px;
    letter-spacing: -0.015em;
    padding: 5px 197px 10px 80px;
}

.descripcion-3{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16.2984px;
    color: #B3B2B7;
    padding: 0px 197px 30px 80px;
    
}

.viñetas{
    background-color: #8B48BF;
    color: #ffff;
    border-radius: 30px;
    width: 40px;
    height: 23px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 3px;
    position: relative;
    top: 30px;
    left: 5px;
}
/*zona comentarios clientes*/
.cajaPadre-4{
    display: flex;
    flex-direction: column;
}

.titulo-comentarios{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 39.2143px;
    color: #242E53;
    text-align: center;
    align-items: center;
    padding-top: 80px;
}

.caja-comentarios{
    display: flex;
    padding: 70px;
}

.comentarios{
    padding: 10px;
    
}

.nombresUsuarios{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: #3F4868;
    text-align: center;
    padding: 15px;
}

.testimonio{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: #B9B9C1;
    text-align: center;
    padding: 10px;
}

.fotoCliente{
    width: 20%;
    position: relative;
    left: 40%;
}

.boton3{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 13px;
    color: #ffff;
    background-color: #8B48BF;
    border: #8B48BF;
    border-radius: 50px;
    height: 37px;
    width: 125px;
    padding: 10px;
    cursor: pointer;
}

.boton3:hover{
    background-color: #ffff;
    color: #8B48BF;
}

.boton-3{
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}
/*fin zona comentarios clientes*/

.labelPrincipalfooter{
    height: 168px;
    width: 100%;
    background-color: #8B48BF;
    display: flex;
    justify-content: space-between;
}

.labelfooter{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 40px;
    color: #ffff;
    padding: 33px 52px 45px 80px;
    width: 587px;
}

.boton4{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 13px;
    color:  #8B48BF;
    background-color: #ffff;
    border: #ffff;
    border-radius: 50px;
    height: 37px;
    width: 125px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.boton4:hover{
    background-color:#8B48BF ;
    border: #ffff;
    color: #ffff;
}

.boton-4{
    padding: 65px 120px 40px 40px;
    
}

/*zona categorias pie de pagina*/

.categoriasPiepag{
    background-color: #1E1E26;
    height: 247px;
    width: 100%;
    display: flex;
}

.iconos{
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iconos-redes-sociales{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
}

.categoria-pp1{
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.descripcion-categoria{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: #ffff;
    line-height: 23px;
    padding: 6px;
    cursor: pointer;
}

.descripcion-categoria:hover{
    color: #3F4868;
    opacity: 60%;
}

.labelRegistro{
    display: flex;
    justify-content: center;
    padding: 70px 10px 58px 123px;
}

.ingresoCorreo{
    background-color: #ffff;
    padding: 10px;
    width: 201px;
    height: 44px;
    border-radius: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;
}

.boton-5{
    padding-left: 5px;
}

.boton5{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 13px;
    color:  #ffff;
    background-color: #8B48BF;
    border: #8B48BF;
    border-radius: 50px;
    height: 42px;
    width: 65px;
    padding: 10px;
    cursor: pointer;
}

.boton5:hover{
    background-color: #ffff;
    color: #8B48BF;
}

.derechosReservados{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;
    color: #8C8C94;
    position: relative;
    top: 150px;
    right: 252px;
    height: 19px;
}

.botonMenu{
    display: none;
}

.labelfooter-mobile{
    display: none;
}

.columnas{
    display: flex;
}

@media (max-width:481px){
    .categoriasCabecera{
        display: none;
    }
    .boton1{
        display: none;
    }
    .botonMenu{
        display: block; 
    }
    
    .padremobile{
    display: flex;
    flex-direction: column-reverse;
    }

    h2{
        font-size: 52px;
        padding: 15px;
        text-align: center;
    }

    .descripcion{
        padding: 20px 50px 20px 50px;
        text-align: center;
    }

    .boton-2{
        display: flex;
        justify-content: center;
        padding: 20px 50px 10px 55px;
    }

    .boton2{
        padding: 0px;
    }

    .tituloC-3{
        font-size: 42px;
        padding: 20px 10px 40px 10px;
        text-align: center;
    }

    .descripcion-2{
        padding: 5px 50px 40px 60px;
        text-align: center;
    }
    
    .cajaPadre-1{
        flex-direction: column;
    }

    .versionMobile{
        padding-left: 20px;
    }

    .subtituloC-3{
        padding: 2px 60px 5px 80px;
        background-color:  rgba(139, 72, 191, 0.3);
        border-radius: 50px 0px 0px 50px;
    }

    .viñetas{
        height: 33px;
        width: 63px;
        margin-left: -5px;
        padding-top: 8px;   
    }

    .descripcion-3{
        padding: 15px 10px 30px 10px;
    }

    .ocultarComentario{
        display: none;
    }

    .labelPrincipalfooter{
        height: 318px;
        display: flex;
        flex-direction: column;
    }

    .labelfooter{
        display: none;
    }

    .labelfooter-mobile{
        font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 40px;
    color: #ffff;
    width: 587px;
    font-size: 40px;
    padding: 43px 173px 5px 66px;
    text-align: center;
    display: block;
    }

    .boton-4{
        padding: 25px 104px 40px 173px;
    }

    .categoriasPiepag{
        height: 535.89px;
        flex-direction: column;
    }

    .labelRegistro{
        order: -5;
        padding: 30px 10px 28px 73px;
    }


    .columnas{
        order: -4;
        display: flex;
        justify-content: space-between;
    }

    .categoria-pp1{
    padding-top: 5px;
    padding-bottom: 10px;
    }

    .iconos-redes-sociales{
        order: -3;
    }

    .iconos{
        padding: 5px 40px;
    }

    .logo-2{
        order: -2;
        padding: 65px 104px 20px 123px;
    }

    .derechosReservados{
        order: -1;
        text-align: center;
        width: 100%;
        margin-left: 52%;
    }



    
}